<article class="chatty">
  <header>
    <h1><%= @item.title %></h1>
    <time datetime={@item.date}><%= @item.date %></time>
  </header>
  
  <div class="content">
    <%= @item.content %>
  </div>
</article> 