<div>
  <h1> Current Collection: <%= @params.collection %></h1>
<h3>All Tags</h3>
  <%= for tag <- @content.posts.fields.tags do %>
    <span><%= tag %></span>
  <% end %>

  <h3>Local Tags</h3>
  <%= for tag <- @data.fields.tags do %>
    <span><%= tag %></span>
  <% end %>

  <h3>Posts</h3>
  <%= for post <- @data.items do %>
    <h1>{post.title}</h1>
  <% end %>
</div>

