<%# 这是博客文章的模板页面 %>
<article class="blog-post">
  <header>
    <h1><%= @data.item.title %></h1>
    <time datetime={@data.item.date}><%= @data.item.date %></time>
  </header>
  
  <div class="content">
    <%= @data.item.content %>
  </div>

  <pre class="text-sm bg-gray-300 p-2 rounded-md"><code><%= raw(inspect(@data.item)) %></code></pre>
</article> 
