<!--
@meta: %{
  layout: ".",
  title: "Guide Page",
  description: "This is the guide page"
}
-->


<div class="guide">
  <h1>Guide Content</h1>
  <p>This is the guide content.</p>

  <.card title="Genex Card">
    <p>This is the Genex Card content.</p>
  </.card>
</div> 