<h1>Hello World</h1>

<p>This is a test page.</p>

<h3>Posts</h3>
<div class="flex flex-col gap-2">
  <a :for={post <- @content.posts.items} href={post.link}>
    <h1>{post.title}</h1>
  </a>
</div>

