<h1>Hello World</h1>

<p>This is a test page.</p>

<h3>Posts</h3>
<div class="flex flex-col gap-2">
  <a :for={post <- @content.posts.items} href={post.link}>
    <p>{post.title}</p>
  </a>
</div>

<h3>Chatties</h3>

<div class="flex flex-col gap-2">
  <a :for={chatty <- @content.chatty.items} href={chatty.link}>
    <p>{chatty.title}</p>
  </a>
</div>

<.button label="Genex new Card" link="https://google.com" />

